
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
       } 
           
  }



  .container {
      padding-top: 75px;
      
  }
  

  body, html{
      
      background-image: url(../img/1358598.jpg);
      background-repeat:no-repeat;
      -webkit-background-size: cover; 
      -moz-background-size: cover; 
      -o-background-size: cover;
      background-size:cover;
       overflow: auto;
       height : 100%;
       position: relative;
       min-height: 100%;
      
  }

    
  .register {
    opacity: 90%;
  }

  .login {
    opacity : 85%;
  }

  #index {
    opacity : 75%;
  }

  #post {
    min-height: 150px;
    opacity: 90%;
  }

  .question {
    opacity: 85%;
    margin-top: 20px;
  }

  .fildactualite {
    opacity: 90%;
  }
  /* .messagepost {
    opacity: 90%;
  } */

  .completeprofile {
    opacity: 90%;
  }

  .profile {
    opacity: 90%;
  }
  /* .listeutilisateurs{
    opacity: 90%;
  } */

      
  /* Parsley CSS */

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  color: #B94A48;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

/* End Parsley CSS */


.row {
  
  margin: 10px;
    
}

.publishName {
  text-decoration: none;
}
.microposts {
  word-break: break-all;
  -moz-word-break: break-all;
  -ms-word-break: break-all;
}

.publishPost{
  word-break: break-all;
  -moz-word-break: break-all;
  -ms-word-break: break-all;
  outline: none;
}

.card-footer {
  position: static;
  bottom: 0;
  
  
}

 a.link {
  text-decoration: none;
}

.display-box{ 
  
     
  display : none;
  color: black;
  margin-top: 10px;
  background-color:whitesmoke;
  border-left : 1px solid black;
  border-right : 1px solid black;
  border-bottom : 1px solid black;
  opacity : 90% ;
  clear:both;
   
  
}


.display-box-user:hover{
  
  
  color: white;
  background-color:#088A4B;  
  text-decoration: none;
  
}
.link-display-box-user{
  
  margin-top: 10px;
  text-decoration: none;
  color : black;
  display : block;
}


.message {
  opacity : 90% ;
}


/* messagerie */
.corps-des-messages{
  background-color: white ;
  padding : 10px;
  margin-top : 20px;
  border-radius: 10px;
  box-shadow : 2px 2px 4px rgba(33, 33, 33, .4);
  height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  word-break: break-word;
  opacity : 90%;
}
.btn-voir-plus-message{
  background: #229953;
  border-radius: 20px;
  color: white;
  border:0;
  outline : none !important;
  margin: 10px auto;
  display: flex;
  transition: all .5s ease;
  box-shadow: 2px 2px 4px rgba(33, 33, 33, .4);

}
.btn-voir-plus-message:hover{
transition: all .5s ease;
box-shadow: 2px 2px 4px rgba(33, 33, 33, .1);
}
.btn-masquer-voir-plus-message{
  display: none;
}

.message-droit{
  background: white;
  position:relative;
  color:black;
  max-width:80%;
  width: auto;
  margin: 10px 0;
  padding: 10px;
  box-shadow: 3px 3px 6px rgba(0,0,0, .125);
  border-radius: 10px 10px 10px 0;
  float:left;
  clear:both;
  word-break: break-all;
}

.message-gauche{
  background:#229953 ;
  color:white;
  position:relative;
  max-width:80%;
  width: auto;
  margin: 10px 0;
  padding: 10px;
  box-shadow: 3px 3px 6px rgba(0,0,0, .125);
  border-radius: 10px 10px 0 10px;
  float:right;
  clear:both;
  word-break: break-all;
}



  
