.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .container {
      padding-top: 75px;
      
  }
  

  body{
      
      background-image: url(../img/1358598.jpg);
      background-repeat:no-repeat;
      -webkit-background-size: cover; 
      -moz-background-size: cover; 
      -o-background-size: cover;
      background-size:cover;
       overflow: auto;
      
  }

    
  .register {
    opacity: 90%;
  }

  .login {
    opacity : 85%;
  }

  #index {
    opacity : 75%;
  }

  #post {
    min-height: 150px;
    opacity: 70%;
  }

  .question {
    opacity: 85%;
    margin-top: 20px;
  }

  .fildactualite {
    opacity: 85%;
  }
  .messagepost {
    opacity: 90%;
  }

  .completeprofile {
    opacity: 90%;
  }

  .profile {
    opacity: 90%;
  }
  /* .listeutilisateurs{
    opacity: 90%;
  } */

      
  /* Parsley CSS */

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  color: #B94A48;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

/* End Parsley CSS */


.row {
  text-align: center;
  margin: 10px;
    
}